/* .img{
    height: 10px;
} */


#feature {
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
#cart{
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

/* .mb-3{
    background: #C6FFDD;
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 
} */


#ab{
    background-color: #212521;
}


#search_section{
    background: #fffbd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #b20a2c, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}